:root {
  --margin: 10px;
  --padding: 10px;
}
* {
  color: #636468;
  box-sizing: border-box;
}
body {
  background-color: #63738a;
}
h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}
h1,
h2 {
  text-align: center;
}
h2 {
  font-size: 1em;
  font-weight: 100;
}
section {
  background-color: #f2f3f7;
  width: 30%;
  margin: auto;
  padding: 26px;
  min-width: 350px;
  border-radius: 5px;
  box-shadow: 1px 5px 13px -2px rgba(0, 0, 0, 0.49);
}

form > * {
  padding: var(--padding);
  margin: var(--margin);
}
form {
  display: flex;
  flex-direction: column;
}
.name_block {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.name_block > * {
  padding: var(--padding);
  width: 48%;
}
button {
  background-color: #4da54d;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  font-size: 1em;
}
button:hover {
  background-color: #3e883e;
}
.document-link {
  color: green;
}
h1 {
  position: relative;
  overflow: hidden;
}
h1:before,
h1:after {
  position: absolute;
  top: 51%;
  width: 50%;
  height: 2px;
  content: "";
  background-color: #d4d4d4;
}
h1:before {
  margin-left: -50%;
}
input {
  border: 1px solid #d4d4d4;
}
label {
  margin: 0;
}
